apiVersion: v1
kind: PersistentVolume
metadata:
  name: airflow-dags-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce 
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""  
  hostPath:
    path: /data/airflow-dag-code/dags

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-dags-pvc
  namespace: airflow  
spec:
  accessModes:
    - ReadWriteOnce  
  storageClassName: "" 
  volumeName: airflow-dags-pv 
  resources:
    requests:
      storage: 1Gi